langchain==0.2.16
langchain-openai==0.1.25
langchain-community==0.2.16
langchain-text-splitters==0.2.4
chromadb==0.5.5
streamlit==1.38.0
pypdf==4.3.1
python-dotenv==1.0.1
tiktoken==0.7.0
requests==2.32.3
